.btn {
  width: 200px;
  margin-right: 20px;
  height: 70px;
  background: white;
  border: 3px solid rgba(253, 187, 17, 0.8);
  border-radius: 25px;
  font-weight: 600;
  font-size: 1.7rem;
  cursor: pointer;
}

.secondary {
  background: rgba(253, 187, 17, 0.8);
  color: white;
}

.small {
  width: 150px;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 15px;
}
