.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  p {
    color: var(--color-primary-text);
    opacity: 0.5;
    span {
      color: rgba(253, 187, 17, 0.8);
    }
  }
}
