.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .userInfo {
    width: 100%;

    .halfWidth {
      & input {
        width: 100%;
        height: 2.5rem;
        font-size: 0.7rem;
        border-radius: 0.3rem;
        color: var(--color-primary-form-text);
      }
    }
  }

  .message {
    width: 100%;
    textarea {
      resize: none;
      width: 100%;
      border-radius: 0.3rem;
      color: var(--color-primary-form-text);
    }
  }

  & input,
  textarea {
    font-size: 0.9rem;
    font-size: 0.7rem;
    height: 6rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(138, 138, 138, 0.226);
    box-shadow: 1px 1px 7px 3px rgb(225 225 225 / 29%);
    background: var(--color-primary-form-input);
  }

  .action {
    // background-color: red;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;

    & p {
      opacity: 0.5;
      font-size: 0.7rem;
    }
  }
}

@media (min-width: 1024px) {
  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px auto;
    align-items: center;
    width: 90%;
    max-width: 1024px;

    .errorText {
      color: red;
      font-size: 0.9rem;
      margin: 15px 0px;
      width: 100%;
      text-align: left;
    }

    & input,
    textarea {
      font-size: 0.8rem;
      padding: 15px 10px;
      border-radius: 5px;
      border: 1px solid rgba(138, 138, 138, 0.226);
      box-shadow: 1px 1px 7px 3px rgb(225 225 225 / 29%);
      background: var(--color-primary-form-input);
    }
  }
  .userInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 20px;
  }

  .halfWidth {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .message {
    width: 100%;
    position: relative;
    & textarea {
      width: 100%;
      margin-top: 15px;
      min-height: 120px;
      resize: vertical;
    }
  }

  .action {
    padding: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & p {
      color: rgb(161, 161, 161);
      cursor: pointer;
    }
  }

  .errorStyle {
    background: rgb(250, 211, 211);
    border: 1px solid red;
  }
}
