$base-color: rgba(253, 187, 17, 0.8);

.container {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  height: 70px;

  .logo {
    width: 60px;
    height: 60px;
    background: $base-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    & p {
      font-size: 30px;
      color: white;
      font-weight: bold;
    }
  }
}

.nav {
  width: 30%;

  .navList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: inherit;

    .link {
      color: inherit;
      font-size: 20px;
      text-decoration: none;
    }

    .active {
      color: $base-color;
      /* font-weight: bold; */
    }
  }
}
