.container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 240px;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.logo {
  width: 60px;
  height: 60px;
  background: rgba(253, 187, 17, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo p {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.nav {
  width: 30%;
}

.navList {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: inherit;
}

.navList li a {
  color: inherit;
  font-size: 20px;
  text-decoration: none;
}

.navList li a::after {
  content: "";
  display: block;
  width: auto;
  height: 3px;
  background-color: rgba(253, 187, 17, 0.8);
}
