.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-primary-background);
  color: var(--color-primary-text);
  overflow: hidden;
}

.container {
  width: min(1024px, 90vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.darkMode {
  position: fixed;
  top: 0;
  right: 20px;
}

.main {
  min-height: 100vh;
}
