.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-primary-background);
  color: var(--color-primary-text);
  overflow: hidden;
}

.container {
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.darkMode {
  position: fixed;
  top: 0;
  right: 20px;
}
