.card {
  display: flex;
  justify-content: space-between;
  // background: blue;
  padding-top: 100px;

  .photo {
    // background: yellow;
  }
  .desc {
    width: 55%;
    // background: red;
  }
}
