.container {
  width: min(800px, 90vw);
  font-size: 1.1rem;

  & h1 {
    margin-bottom: 2rem;
  }
  .photo {
    padding: 3rem;
    margin: 0 auto;
    width: 100%;
  }

  .text {
    padding: 0.6rem;
    font-size: 1rem;
  }
}
