.container {
  margin-top: 2rem;
  width: 100vw;

  .description {
    .photo {
      margin: 1rem auto 1rem auto;
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 50%;
      border: 0.2rem solid white;
      box-shadow: 0px 0px 10px 2px var(--shadow-primary-photo);
    }
  }

  .titleHeader {
    font-size: 1.2rem;
    text-align: center;
  }

  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3rem auto;
    align-items: center;
    width: 80%;
    .subMessage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & h1 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;

    .title {
      .titleHeader {
        font-size: 1.8rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    .form {
      margin: 0;
      flex-direction: row;
    }
    .title {
      width: 100%;
      margin-bottom: 2rem;
    }

    .formContent {
      display: flex;
      justify-content: center;
      align-items: center;
      .description {
        margin: 0;
        width: 350px;
        height: 350px;
        // width: 50%;
        & h1 {
          margin-bottom: 40px;
          font-size: 2.5rem;
        }
        & p {
          font-size: 1.3rem;
        }

        & svg {
          position: absolute;
          top: 30px;
          left: 310px;
        }
        .photo {
          margin-bottom: 50px;
          width: 300px;
          height: 300px;
          overflow: hidden;
          border-radius: 50%;
          border: 10px solid white;
          box-shadow: 0px 0px 20px 10px var(--shadow-primary-photo);
        }
      }

      .form {
        .subMessage {
          & h1 {
            font-size: 2rem;
          }
        }
      }
    }

    .formContent {
      display: flex;
      justify-content: center;
      .form {
        width: 50%;
      }
    }
  }
}
