.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 10px;
  // display: none;

  .heroPhoto {
    background: url(../assets/hero_photo.jpeg);
    background-position: 0px 0px;
    background-size: cover;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    border: 15px solid white;
    box-shadow: 0px 0px 20px 10px #c6c6c6;
  }

  .heroDescription {
    width: 50%;
    .desc {
      margin-top: 15px;
    }

    & p {
      font-size: 1.2rem;
    }

    & h1 {
      font-size: 3.9rem;
    }

    .buttons {
      width: 100%;
      margin-top: 50px;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.projects {
  padding-top: 200px;

  h1 {
    font-size: 3.8rem;
  }
}
