.container {
  margin-top: 120px;

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    .heroPhoto {
      width: 180px;
    }

    .heroDescription {
      width: 50%;
      padding-left: 10px;

      & p {
        font-size: 1rem;
      }

      & h1 {
        font-size: 3.3rem;
      }
    }
  }
}
.projects {
  height: 500px;

  h1 {
    font-size: 1.9rem;
  }
}
